
@import "bootstrap-theme.css";
@import "bootstrap-theme.min.css";
@import "bootstrap.css";
@import "bootstrap.min.css";

body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    background: #e7e7e7;
}

nav.navbar.navbar-default{
    margin-bottom: 0px;
}

header h1 {
    margin: 0;
}

.panel{
    margin: 10px;
}

.hidden{
    display: none;
}

section{
    margin-left: 10px;
    margin-right: 10px;
}

/**/
.navbar.navbar-default.avg-price{
    margin: 0 10px 0 10px;
}
/**/

tr.spaceB{
    padding-bottom: 5px;
}

table.table.employee{
    margin-top: 10px;
}

table.table.employee tr td{
    border: none;
}